* {
 font-family: 'Dosis', sans-serif;
}

a.anchor#presentation {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}


/* navbar */

.header {
  background-color: white;
}

nav .navbar-nav .nav-link {
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding: 0 1rem;
}

.nav-item a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;

}

.nav-item a:hover {
 background-color: white;
}

/* Address */
.address {
  text-align: center;
  padding: 10px;
  background-color: rgb(203 143 86);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}


/* Main picture */
.main-picture {
  text-align: center;
  background-image: url(/static/pictures/bar-picture.jpg);
  height: 500px;
  background-size: cover;
}

.picture-text {
  position: relative;
  top: 30%;
}

.title {
  color: white;
  font-size: 90px;
  text-transform: uppercase;
}

.subtitle {
  color: white;
  font-size: 50px;
}

/* Presentation */

.paragraph-title {
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(42, 39, 37);
}

.paragraph-text {
  font-size: 15px;
  color: rgb(42, 39, 37);
}

.text-one {
  scroll-behavior: smooth;
}

/* menu */
a#btn-menu {
  color: inherit !important;
  text-decoration: none !important;
}

.btn-menu {
  background-color: rgb(203 143 86);
  color: white;
  border: 2px solid rgb(203 143 86);
}

.btn-menu:hover {
  background-color: white;
  border: 2px solid rgb(203 143 86);
  color: rgb(42, 39, 37);
}

.tapas-list {
  list-style-type:none;
  padding: 0;
}

.wine-image {
  background-image: url(/static/pictures/wine.jpg);
  text-align: center;
  height: 1000px;
  background-size: cover;
}

.tapas-image {
  background-image: url(/static/pictures/tapas-slide.jpg);
  text-align: center;
  height: 1000px;
  background-size: cover;
}

/* map */
.map {
  height: 300px;
  width: auto;
}

/* footer */
.footer {
  background-color: rgb(203 143 86) !important;
}

.footer-text {
  color: white;
}

.social-icon {
  height: 30px;
}