nav .navbar-nav .nav-link {
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding: 0 1rem;
}

.nav-item a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;

}

.nav-item a:hover {
 background-color: white;
}

/* Address */
.address {
  text-align: center;
  padding: 10px;
  background-color: rgb(203 143 86);
  text-transform: uppercase;
  font-weight: bold;
}


/* Main picture */
.main-picture {
  text-align: center;
  align-items: center;
  background-image: url(/static/pictures/bar-picture.jpg);
  height: 500px;
}

.title {
  color: white;
  font-size: 100px;
  text-transform: uppercase;
}

.subtitle {
  color: white;
  font-size: 50px;
}