{% load static %}
<div class="container-fluid bg-white py-3 ls-1 footer">
  <div class="row no-gutters justify-content-center">
    <div class="p-md-4 text-center">
      <a href="https://www.facebook.com/baretnamazarine/" target="_blank">
        <img class="social-icon" src="/static/pictures/facebook-icon-white.jpg">
      </a>
    </div>
    <div class="p-md-4 text-center">
      <a href="https://twitter.com/Bar_Etna" target="_blank">
        <img class="social-icon" src="/static/pictures/twitter-icon-white.jpg">
      <a/>
    </div>
    <div class="p-md-4 text-center">
      <a href="https://www.instagram.com/etna_baravin/" target="_blank">
        <img class="social-icon" src="/static/pictures/instagram-icon-white.jpg">
      <a/>
    </div>
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-md-3 col-xs-12 p-md-4 text-center footer-text">
      33 rue Mazarine - 75006 Paris
    </div>
    <div class="col-md-3 col-xs-12 p-md-4 text-center footer-text">
      {% if language == 'EN'%}Ouvert du mardi au samedi de 17h à 2h{% else%}Open Tuesday to Saturday from 5pm to 2am{% endif %}
    </div>
    <div class="col-md-3 col-xs-12 p-md-4 text-center footer-text">
      +33 6 13 88 57 16‬
    </div>
  </div>
</div>