{% load static %}
<a class="anchor" id="home"></a>
<div class="sticky-top header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#home">
      <img src="{% static 'pictures/logo-etna.png' %}" width="150" height="auto" class="d-inline-block align-content-center" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto nav-fill p-4">
        <li class="nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#home">{% if language == 'EN'%}Accueil{% else%}Home{% endif %}</a>
        </li>
        <li class="nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#presentation">{% if language == 'EN'%}A propos de nous{% else%}About us{% endif %}</a>
        </li>
        <li class="nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#menu">{% if language == 'EN'%}Carte{% else%}Menu{% endif %}</a>
        </li>
        <li class="nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="https://ib.guestonline.fr/instabook/bookings/LsYJ1Gg" target="_blank">{% if language == 'EN'%}Réserver{% else%}Book a table{% endif %}</a>
        </li>
        <li class="nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#plan">Contact</a>
        </li>
      </ul>
      <button class="btn btn-menu">
        <a style="color: inherit !important;" href="{% url 'index' language=language %}">{{ language }}</a>
      </button>
    </div>
  </nav>
  <div class="row">
    <div class="col-12">
      <div class="address">
        33 rue Mazarine - Paris VI | {% if language == 'EN'%}Ouvert du mardi au samedi de 17h à 2h{% else%}Open Tuesday to Saturday from 5pm to 2am{% endif %}
      </div>
    </div>
  </div>
</div>