{% load static %}
<a class="anchor" id="menu"></a>
<div class="container-fluid bg-white py-3 mb-2 px-0 ls-1">
<div class="row no-gutters pt-4 justify-content-center">
    <div class="col-lg-6 p-2 text-center wine-image"></div>
    <div class="col-lg-6 col-xs-12 p-2 text-center my-auto">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-10 p-2 text-center">
          <div class="paragraph-title">{{ wine_presentation.titre }}</div>
        </div>
      </div>
      <div class="row no-gutters justify-content-center">
        <div class="col-6 col-lg-6 p-4 text-center">
          <div class="paragraph-text">
            {{ wine_presentation.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters pb-4 justify-content-center">
    <div class="col-lg-6 col-xs-12 p-2 text-center my-auto">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-10 p-2 text-center">
          <p class="paragraph-title">{% if language == 'EN'%}Les {% endif %}Tapas</p>
        </div>
      </div>
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-10 p-2 text-center">
          <ul class="tapas-list">
            {% for tapas in tapas_courses %}
              <li class="text-center tapas-item">{{ tapas.nom }} - {{ tapas.prix|floatformat }}€{% if tapas.commentaires %} - {{ tapas.commentaires }}{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-2 text-center tapas-image"></div>
  </div>
</div>