{% load static %}
<div class="row paragraph-container" id="presentation">
  <div class="col-6">
    <div class="paragraph text-one">
      <div class="paragraph-title">Etna, embarquez à bord d'une formidable aventure humaine</div>
      <div class="paragraph-text">
        Dans une ambiance unique au cœur de St Germain des Prés, venez découvrir les vins naturels et une restauration de qualité. En voyage vers la Sicile des années 50, Etna accompagnera vos soirées à Paris dans une atmosphère humaine et chaleureuse. Vous êtes ici chez vous.
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
  <div class="col-6">
    <div class="paragraph text-two">
      <div class="paragraph-title">Le vin naturel, pourquoi ?</div>
      <div class="paragraph-text">
        Le vin naturel redécouvre des procédés vieux de 3 000 ans en s'émancipant des intrants chimiques pour permettre l'expression la plus pure du fruit et de son terroir. La vinification naturelle, oeuvre de la patience et du talent du vigneron libère des arômes uniques trouvant leur richesse dans les entrailles de la terre. Notre équipe passionnée vous accompagnera dans ses découvertes du moment issues d’un monde infini par sa richesse et ses saveurs (verre à partir de 5€, bouteille à partir de 20€ à consommer sur place ou à emporter).
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="paragraph text-three">
      <div class="paragraph-title">L'élégance de l'accord mets et vin</div>
      <div class="paragraph-text">
        Une aventure à commencer par l’association des vins naturels à des mets savoureux (à partir de 5€) pour explorer des résonances et liaisons surprenantes entre produits authentiques. Une sélection précise de d'accompagnements subtils, salés et sucrés accordés aux saisons pour grignoter, croquer, picorer ou… dîner !
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
  <div class="col-6">
    <div class="paragraph text-four">
      <div class="paragraph-title">Des bulles...et du chocolat !</div>
      <div class="paragraph-text">
        Et si vous veniez également découvrir notre carte de crus de chocolats ? Le chocolat offre une alliance envoûtante avec les bulles de nos champagnes et les parfums profonds de nos vins naturels. Une touche féminine, une touche française, c’est aussi ça Etna !
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="paragraph text-five">
      <div class="paragraph-title">Etna, une grande famille...qui n'attend que vous !</div>
      <div class="paragraph-text">
        Soirée avec un chef, un dj ou un vigneron? Etna est une grande famille où nous aimons nous retrouver. Qu’attendez-vous pour la rejoindre ? Suivez notre actualité sur notre page <a href="">Facebook</a> et en nous suivant sur <a href="">Twitter</a>.
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="paragraph text-empty"></div>
  </div>
  <div class="col-6">
    <div class="paragraph text-six">
      <div class="paragraph-title">Privatiser : Etna, comme à la maison !</div>
      <div class="paragraph-text">
        Pour fêter un événement entre amis, accueillir des clients dans un cadre original, surprendre avec une soirée professionnelle inoubliable ou juste par envie, offrez-vous Etna ! Le lieu vous sera exclusivement réservé. Notre sommelier concevra pour vos invités un assortiment de vins et de mets selon vos envies ou votre curiosité !
      </div>
    </div>
  </div>
</div>